<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Information</title>
  </head>
  <body>
    <h1>Product Data</h1>
    <form
      action="/product/getProductData"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="name">Enter Product Item : </label>
      <input
        type="text"
        name="item"
        id="item"
        placeholder="Enter Product Item..."
      />

      <label for="phn">Enter Product Prise : </label>
      <input
        type="number"
        name="prise"
        id="prise"
        placeholder="Enter Product Prise ..."
      />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
