.arrow-down{
   width:60px;
   height:40px;
   margin:0 0 0 -30px;
   position:absolute;
   right: 10%;
   bottom:10%;
   -webkit-animation: arrow 1s 1s infinite ease-out alternate;
   animation: arrow 1s 1s infinite ease-out alternate;
   
 }
 
 .arrow-down:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
 }
 
 .left{
   position:absolute;
   height:10px;
   width:40px;
   background:black;
   transform:rotate(240deg);
   -webkit-transform:rotate(240deg);
   top:10px;
   left:10px;
   -webkit-border-radius:4px;
   border-radius:4px;
   -webkit-transform-origin:5px 50%;
   transform-origin:5px 50%;
   -webkit-animation: leftArrow 1s 1s infinite ease-out alternate;
   animation: leftArrow 1s 1s infinite ease-out alternate;
 }
 
 .right{
   position:absolute;
   height:10px;
   width:40px;
   background:black;
   -webkit-transform:rotate(-60deg);
   transform:rotate(-60deg);
   top:10px;
   left:10px;
   -webkit-border-radius:4px;
   border-radius:4px;
   -webkit-transform-origin:5px 50%;
   transform-origin:5px 50%;
   -webkit-animation: rightArrow 1s 1s infinite ease-out alternate;
   animation: rightArrow 1s 1s infinite ease-out alternate;
 }
 
 
 
 
 @-webkit-keyframes arrow{
   0% {
     bottom:0px;
   }
   100%{
     bottom:40px;
   }
 }
 
 
 @-webkit-keyframes leftArrow{
   0% {
   }
   100%{
     -webkit-transform:rotate(225deg);
   }
 }
 
 @-webkit-keyframes rightArrow{
   0% {
   }
   100%{
     -webkit-transform:rotate(-45deg);
   }
 }

 @keyframes arrow{
   0% {
     bottom:0px;
   }
   100%{
     bottom:40px;
   }
 }
 
 
 @keyframes leftArrow{
   0% {
   }
   100%{
     -webkit-transform:rotate(225deg);
   }
 }
 
 @keyframes rightArrow{
   0% {
   }
   100%{
     -webkit-transform:rotate(-45deg);
   }
 }
 